

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-wrap:1;
}

.metodos-pagos {
    width: 100px;
    height: 80px;
}

.h-css {
    height: 400px;
    overflow: hidden;
    object-fit: cover;
}